@{
    ViewData["Title"] = "Dashboard - NoPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>@ViewData["Title"]</div>

<div class="row">
    <div style="padding:50px;">
        <div style="font-size:large;color:red;">Access denied!!! </div>
        <div style="font-size:large;color:red;padding-top:20px;">You do not have permission</div>
    </div>
</div>
